pipeline/metadata_if_else_copy_data.json
{
	"name": "metadata_if_else_copy_data",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_azuretraningsynedls_retaildb_customer_customers",
						"type": "DatasetReference"
					},
					"fieldList": [
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Get Metadata1').output.size,10)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "status",
								"value": "Size Not Greater than 10"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "truncate table customer",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "customer_id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "id",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "customer_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "email",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "email",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "gender",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "gender",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "dob",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "dob",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "country",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "country",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "region",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "region",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "city",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "city",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "asset",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "asset",
												"type": "Int64",
												"physicalType": "bigint"
											}
										},
										{
											"source": {
												"name": "marital_status",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "marital_status",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": "retaildb",
										"DirectoryName": "customer"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ASQL",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "customer"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"status": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Control_Flow_Activities"
		},
		"annotations": []
	}
}